<%- include('../partials/header')  %> 
    <h1>Title: <%= campground.title %></h1>
    <h2>Location: <%= campground.location %></h2>

    <a href="/campgrounds">Back</a>
<%- include('../partials/footer')  %> 